<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Exercise Test Suite">
    <!-- Parameter for browser type can be set here -->
    <parameter name="browser" value="chrome" />
    
    <!-- Configure listeners for screenshot capture and enhanced reporting -->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="com.selenium.test.utils.TestListener" />
    </listeners>
    
    <test name="Website Tests">
        <classes>
            <class name="com.selenium.test.AutomationExerciseTest" />
        </classes>
    </test>
</suite>
