<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Exercise Test Suite" parallel="methods" thread-count="2">
    <!-- Parameter for browser type can be set here -->
    <parameter name="browser" value="chrome" />
    <parameter name="useGrid" value="true"/>
    
    <!-- Configure listeners for enhanced reporting -->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    
    <test name="Website Tests">
        <classes>
            <class name="com.selenium.test.AutomationExerciseTest" />
        </classes>
    </test>
</suite>
